<div class="jumbotron">
  <h1>CWC Market</h1>
  <p>Marketplace. Sell your items!</p>
  <%= link_to "Products", products_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">

<%= render @products %>

</div>